:root {
    --primary: #48cfad;
}

body {
    font-family: "Roboto", sans-serif;
}

ul {
    margin: 0;
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
}

.container {
    width: 100%;
    max-width: 1320px;
    padding: 0 1rem;
    box-sizing: border-box;
    margin: 0 auto;
}
