body {
    background-color: #1b1b1b;
    background-image: url("../assets/bg_home.png");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: #fff;
}

header {
    display: grid;
}

.topbar {
    background-color: var(--primary);
    padding: 0.8rem 0;
}

.topbar .social-nav {
    display: flex;
    justify-content: flex-end;
}

.social-nav ul {
    display: flex;
}

.social-nav li {
    padding: 0 0.5rem;
}

.social-nav li:first-child {
    padding-left: 0;
}

.social-nav li:last-child {
    padding-right: 0;
}

.social-nav .icon {
    color: var(--primary);
    background-color: #fff;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    width: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu {
    padding-top: 3rem;
    margin-top: 55px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-self: center;
}

.menu .logo {
    width: 100%;
    max-width: 320px;
    height: auto;
}

.menu .nav-link {
    font-family: "Roboto Mono", monospace;
    color: #fff;
    font-size: 1.3rem;
    border-bottom: 1px solid;
}

main {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}

main .wrap {
    display: grid;
    grid-column: 2;
    align-content: center;
    justify-items: center;
}

main .title {
    font-family: "Roboto Mono", monospace;
    font-size: 3.5rem;
    text-align: center;
}

main button {
    background-color: var(--primary);
    border: none;
    padding: 1rem 1.5rem;
    font-family: "Roboto Mono", monospace;
    font-size: 1.3rem;
    cursor: pointer;
    font-weight: 700;
}
