body {
    background-color: #1b1b1b;
    background-image: url("../assets/bg_home.png");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: #fff;
}

main {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}

main .wrap {
    display: grid;
    grid-column: 2;
    align-content: center;
    justify-items: center;
}

main .title {
    font-family: "Roboto Mono", monospace;
    font-size: 3.5rem;
    text-align: center;
    margin: 3rem 0 1.5rem 0;
}

main button {
    background-color: var(--primary);
    border: none;
    padding: 1rem 1.5rem;
    font-family: "Roboto Mono", monospace;
    font-size: 1.3rem;
    cursor: pointer;
    font-weight: 700;
}
